@using myMVC.Models;

<h3>Fourth page</h3>

<table class="table table-bordered table-hover table-condensed table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book b in ((List<Book>)ViewBag.ListBooks))
        {
            <tr>
                <td>@b.Id</td>
                <td>@b.Name</td>
                <td>@b.Author</td>
            </tr>
        }
    </tbody>
</table>
